.body {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content:center;
  align-items:center;
  vertical-align: middle;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(xiaomi.jpg);
  
  }
  
  .container {
    height: 300px;
    width: 300px;
    border-color:white;
    border-radius: 5em;
    opacity: 0.9;
    border: none;
    background-color: rgba(247, 249, 250 );
    
    
   
  }
  
  input[type=text] {
    border-radius: 45px;
  }
  
  input[type=text]:focus {
    transition: ease-in-out, width .35s ease-in-out;
   
  }
  
  input[type=submit]{
    width: 100px;
    background-color:black;
    color: white;
    border-radius: 12px;
    
  }
  
  input[type=submit]:focus {
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .login {
    position: relative;
    width: 310px;
    text-align: center;
    margin-top: 90px;
    margin-right: 60px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
  
  }